.cabecalho{
    background-color: rgb(83, 0, 0);
    color: black;
    font-display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

.titulo{
    text-align: center;
}

.imagem{

    width: 45%;
}